.notes-header {
  margin-bottom: 2rem;
  background-color: #025D8C;
  padding: 1rem;
  color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}

.notes {

}

.note {
  border: 1px solid #CCC;
  background-color: #FFFC7F;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  min-height: 10rem;
}